.navbar_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.navbar_inner > a {
    text-decoration: none;
    color: var(--text);
}

.mode_switch > *:nth-child(1) {
    margin-right: 5px;
}

@media only screen and (max-width: 1440px) {
    .navbar_inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 100px;
        height: 90px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 768px) {
    .navbar_inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 50px;
        height: 90px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .navbar_inner > a > h1 {
        font-size: 18px;
    }

    .mode_switch > div > p {
        font-size: 14px;
    }
}

@media only screen and (max-width: 425px) {
    .navbar_inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 20px;
        height: 90px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .navbar_inner > a > h1 {
        font-size: 16px;
    }

    .mode_switch > div > p {
        font-size: 12px;
    }
}

@media only screen and (max-width: 320px) {
    .navbar_inner {
        flex-direction: column;
        justify-content: center;
    }
}