:root {
    --background: hsl(0, 0%, 98%);
    --navbar: hsl(0, 0%, 100%);
    --button: hsl(0, 0%, 100%);
    --search-container: hsl(0, 0%, 100%);
    --text: hsl(200, 15%, 8%);
    --hover: hsl(0, 0%, 52%);
    --card: hsl(0, 0%, 100%);
}

[data-theme="dark"] {
    --background: hsl(207, 26%, 17%);
    --navbar: hsl(209, 23%, 22%);
    --button: hsl(207, 26%, 17%);
    --search-container: hsl(209, 23%, 22%);
    --text: hsl(0, 0%, 100%);
    --hover: hsl(0, 0%, 52%);
    --card: hsl(209, 23%, 22%);
}

body {
    background: var(--background);
}

.navbar-1, .navbar-2 {
    width: 100%;
    background: var(--navbar);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}

#search_country {
    width: calc(100% - 50px);
    height: 100%;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border: none;
    padding: 0px 20px;
    background: var(--search-container);
    color: var(--text);
 }
 
 #search_country:focus {
     outline: none;
 }

.search_submit {
    height: 100%;
    width: 50px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border: none;
    background: var(--search-container);
    display: flex;
    align-items: center;
    justify-content: center;
}

.search_submit > ion-icon {
    font-size: 16px;
    color: var(--text);
}

.card_container {
    width: 320px;
    height: 100%;
    background: var(--card);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.info_container p {
    line-height: 1.7em;
    color: var(--text);
}

.info_container > a {
    text-decoration: none;
    color: var(--text);
    line-height: 2.5em;
}

.info_container a:hover > h2 {
    color: var(--hover);
}

.info_container > a > h2 {
    margin-bottom: 20px;
    width: auto;
    color: var(--text);
}

.back_button {
    width: 120px;
    border-radius: 10px;
    border: none;
    padding: 2px 0px;
    background: var(--navbar);
    color: var(--text);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

.back_button > ion-icon {
    margin-right: 10px;
}

.back_button:hover {
    color: var(--hover)
}

.specific_country_info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: var(--hover);
}

.specific_country_info > div > p > span {
    color: var(--text);
}

.inner_country_container > h2 {
    margin-bottom: 10px;
    color: var(--text);
}

.navbar-1 > div > a {
    text-decoration: none;
}

.navbar-1 > div > a > h1 {
    text-decoration: none;
    color: var(--text);
}

.navbar-1 > div > a:hover > h1 {
    color: var(--hover);
}

.search_submit:hover {
    background: var(--neutral-dark-blue);
    color: var(--hover);
}

#region {
    width: 100%;
    height: 45px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    padding: 0px 20px;
    background: var(--navbar);
    color: var(--text);
}

.mode_switch {
    background: none;
    border: none;
}

.mode_switch > div {
    display: flex;
    padding: 0px 5px;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--text);
}

.mode_switch > div > p {
    margin-left: 5px;
}

.language_tag {
    color: var(--text);
}

.border_container {
    color: var(--text);
}
